/* Tailwind base - put variables under: tailwind.config.js */
@import "node_modules/tailwindcss/base";
/* Tailwind component classes registered by plugins*/
@import "node_modules/tailwindcss/components";
/* Site Specific */
@import "assets/css/site";
/* Tailwind's utility classes - generated based on config file */
@import "node_modules/tailwindcss/utilities";
/*Franklin Gothic font*/
@import "https://use.typekit.net/sto5ndy.css";
a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: inherit;
}